.headerPortfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 127px;
    background-color: #87509c;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.list {
    display: flex;
    flex-flow: row;
    align-items: center;
    list-style: none;
}

.list li {
    margin-right: 44px;
    font-family: Titillium Web, sans-serif;

}

.list a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #643a79;
    border-radius: 4px 3px 3px 4px;
}

.list a {
    text-decoration: none;
    color: white;
    font-family: Titillium Web, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    height: 32px;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87509c;
    height: 600px;
}
.content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;


}
.title {
text-align: center;
    margin: 0%;
    width: 906px;
    height: 88px;
    color: #f7f3ea;
    font-family: Titillium Web, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    margin-top: 105px;
}

.butt1{
    width: 293px;
    height: 70px;
    background-color: #eb7d4b;
    border-radius: 4px;
    color: white;
    font-family: Titillium Web, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    border: none;
    margin-top: 60px;
}

.aboutBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 751px;
    background-color: #17c2a4;

}
.aboutContent{
text-align: center;
}
.Container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row;
}

.aboutHeader{
    color: white;
    font-family: Titillium Web, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    /*margin-top: -112px;*/

}
.aboutTxt{
    color: white;
    font-family: Titillium Web, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.conHeader{
    color: white;
    font-family: Titillium Web, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.conTxt{
    color: white;
    font-family: Titillium Web, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.workBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1423px;
    background-color: #fd9;

}
.workHeader{
    margin: 0%;
    color: #393939;
    font-family: Titillium Web, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
}
.workTxt{
    color: #393939;
    font-family: Titillium Web, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.forbutt:hover{
    height: 38px;
    background-color: white;
    border-radius: 4px;
}
.workContent{
    text-align: center;
}

.workBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;

}

.workBtn button{
    height: 38px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: none;
    margin-right: 2px ;
}
.workImg{
    display: flex;


    flex-flow: row;
}

.Load{
    height: 70px;
    background-color: #17c2a4;
    border-radius: 4px;
    border: none;
    color: white;
    font-family: Titillium Web, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.imgTxt{

    color: #393939;
    font-family: Titillium Web, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}