/.idea/
/.iml/
/stylesheet.css.json/
/normalize.css.json/
/test.html/
Будет удалено .gitignore
Будет удалено PSD/
Будет удалено NotifyPSD/
Будет удалено TemplatePSD/

Будет удалено imgpsh_fullsize.png
